<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
</html>

<button type="button" class="btn btn-primary" onclick="window.location.href='/api/v1/players/add'">Add Player</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='/api/v1/login'">Logout</button>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Nationality</th>
      <th>TeamId</th>
      <th>Position</th>
      <th>Number</th>
      <th>LeagueId</th>
  </tr>
  </thead>
  <% elements.forEach( element => { %>
      <tr>
          <td> <%= element.id %></td>
          <td> <%= element.name %></td>
          <td> <%= element.birthdate %></td>
          <td> <%= element.nationality %></td>
          <td> <%= element.teamId %></td>
          <td> <%= element.position %></td>
          <td> <%= element.number %></td>
          <td> <%= element.leagueId %></td>
          <td> <a href="/api/v1/players/edit/<%= element._id %>">Edit</a></td>
          <td> <a href="/api/v1/players/remove/<%= element._id %>">Remove</a></td>
      </tr>
  <% }) %>
</table>